<div class="col-xs-12">
  <h3> <strong>💊 Médicaments </strong> </h3>
  <div class="line"></div>
</div>

<% @tasks.each do |task| %>
  <% if task.done == false && !task.medecine.nil? %>
    <div class="col-xs-12">
      <%= render "tasks/medecine/task", task: task %>
    </div>
  <% end %>
<% end %>
