<div class="col-xs-12">
  <h3> <strong>🐎 Activités </strong> </h3>
  <div class="line"></div>
</div>


<% @tasks.each do |task| %>

  <% if task.done == false %>

    <% if task.doing == false %>
      <% if !task.activity.nil? %>
        <div class="col-xs-12">
          <%= render "task_todo_activity", task: task %>
        </div>
      <% end %>
    <% end %>

    <% if task.doing == true %>
      <% if !task.activity.nil? %>
        <div class="col-xs-12">
          <%= render "task_doing", task: task %>
        </div>
      <% end %>
    <% end %>

  <% end %>
<% end %>

