<div class="task-message" data-aos="fade-up">
  <% if horse.photo? %>
    <div class="horse-avatar" style="background-image: url('<%= cl_image_path horse.photo, width: 300, crop: :fill %>')">
    </div>
  <%else %>
    <div class="horse-avatar" style="background-image: url('<%= image_path("default-horse.jpg")  %>')">
    </div>
  <% end %>

    <%= render "task_list", horse: horse, tasks: horse.evening_tasks.not_done, time: "evening" %>

</div>
