<div data-task-id="<%= horse.id %>" id="task-done-food-midday-<%= horse.id %>" data-aos="fade">
  <br>
    <p class="success text-center"><i class="fas fa-check-circle"></i> Tâche terminée !</p>
</div>
