<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @horse.photo.url, crop: :fill %>')"></div>

<div class="container">
   <div class="horse-name"> <h1><strong><%= @horse.name %></strong></h1>
    </div>
    <div class="horse-description">
      <h2><strong>Numéro de box: <%= @horse.box %></h2>
      <h3><%= @horse.user.email %></h3>
    </div>

    <div class="formula">
      <i class="fas fa-clipboard-list"></i> horse formula
    </div>

    <div class="horse-food">
      <i class="fas fa-utensils"></i> horse food
    </div>

    <div class="horse-medicine">
      <i class="fas fa-pills"></i> horse medecine
    </div>

    <div class="horse-activity">
      <i class="fas fa-compass"></i> horse activity
    </div>

    <div class="horse-veterinaire">
      <i class="fas fa-heartbeat"></i> horse veterinaire
    </div>

    <div class="horse-forgeron">
      <i class="fas fa-cog"></i> horse forgeron
    </div>

</div>
