
<h1> <%= @horse.name %> </h1>
horse photo
<h2> <%= @horse.user.email %> </h2>
<h3> <%= @horse.box %> </h3>
<h3> <%= @horse.formula %> </h3>



horse food
horse medecine
horse activity
horse veterinaire
horse forgeron
