<div class="banner">
  <div class="container">
    <h1>Stable manager</h1>
    <br>
    <h4><strong>Un outil de gestion dédié à votre écurie</h4></strong>
    <br>
    <%= link_to "C'est parti", tasks_index_path, class: 'btn-red' %>
  </div>
</div>
