

<div class="container">
  <div class="row" >
    <div class="col-xs-offset-2 col-xs-8" >

      <%= render 'form', comm: @comm %>

      <% @comms.each do |comm| %>

      <div class="alert alert-info " role="alert" style="text-align:left; max"> <%= comm.created_at.strftime("%d %b %H:%M") %>| <%= comm.message %>
        <%= link_to "Supprimer", communication_path(@comm.id),
        method: :delete, data: {confirm: "Sure?"} %>
      </div>
      <% end %>

    </div>
  </div>
</div>



