.horse-avatar {
  width:50px;
  height:50px;
  border-radius: 50px;
}

.big-horse-avatar {
  width:100px;
  height:100px;
  border-radius: 50px;
}

.avatar{
  width:50px;
  height:50px;
  border-radius: 50px;
}
