.banner {
  background-image: url('https://images.unsplash.com/photo-1517887121-557af22472e1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2fd12cf27e655aad0a93750d2fd56b4f&auto=format&fit=crop&w=2700&q=80');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  display: flex;
  justify-content: center;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
