.btn-red {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #990000;
  transition: background 0.3s ease;
}
.btn-red:hover {
  opacity: 1;
  background: #990000;
  text-decoration: none;
  color: white;
}
