.btn-red {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #990000;
  transition: background 0.3s ease;
}

.btn-red:hover {
  opacity: 1;
  background: #990000;
  text-decoration: none;
  color: white;
}

.btn-red-small {
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  background: #990000;
  transition: background 0.3s ease;
}

.btn-red-reverse {
  color: #990000;
  border: 1px solid #990000;
  background: transparent;
}

.btn-block + .btn-block.btn-red-reverse {
  margin-top: 0.8em;
}
