.card {
  // padding: 0 1.7rem;
  margin-bottom: 15px;
  margin-top: 15px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.wrapper {
  background-color: #fff;
  min-height: 450px;
  position: relative;
  overflow: hidden;
  border-radius:$border-radius-base $border-radius-base 0 0;
}

.location {
  font-size: 14px;
  color: $gray
}

.title {
  margin-top: 10px;
  color: $gray
}

.text {
  height: 70px;
  margin: 0;
}

.data {
  bottom: 0;
  width: 100%;
}

.content {
  padding: 1em;
  position: relative;
  border-radius:0 0 $border-radius-base $border-radius-base;
  // border: 1px solid $mid-gray;

}

.horse .content {
  background-color: #fff;
  // box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}

.horse .title a {
  color: gray;
}

.horse-image {
  background-size: cover;
  background-position: center;
}

.add {
  border: 1px solid $mid-gray;
  border-radius: $border-radius-base;
  color: $mid-gray;
  background: transparent;
  height: 608px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.food-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-horse-medicine {
  padding: 500px;
}

// .card-horse {
//   height: 150px;
//   text-shadow: 0 1px 3px rgba(0,0,0,0.6);
//   background-color: #808080;
//   color: black;
//   margin-bottom: 10px;
//   margin-top: 10px;
// }

