.flex-box-profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center
}

.flex-item {

}

.photo-employee{
  height: 100px;
  width: 100px;
  margin: 20px;

}

.flex-box-horse-user {
  display: flex;
  justify-content: center;
  align-items: center;
}


