.flex-box-profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center
}

.flex-item1 {
}
.flex-item2 {
}
.flex-item3 {
}

.photo-employee{
  height: 100px;
  width: 100px;
  margin: 20px;
}

.flex-box-horse {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.flex-box-item-horse-name {
}

.flex-box-item-horse-photo {
}
